<div style="text-align:center;">
  <h1 style="text-align:center;">Sukses memberikan akses Outlook Calendar kepada program.</h1>
  <p style="text-align:center;">Akses ke Outlook Calendar sudah berhasil diberikan untuk program ini. Langkah selanjutnya adalah dengan memberikan akses program ini kepada <strong>Slack</strong> dengan cara
  menekan hyperlink untuk login di bawah ini.</p>
  </br>
  <a class="btn btn-primary btn-large" href="{{signInUrlSlack}}" style="border: 1px solid grey; padding: 15px;">Klik disini untuk melakukan login dan memberikan akses ke Slack</a>
</div>
