<div style="text-align:center;">
  <h1 style="text-align:center;">Slack Status Changer</h1>
  <p style="text-align:center;">Program ini berfungsi untuk mengubah status yang terdapat pada aplikasi <strong>Slack</strong> sesuai dengan jadwal yang terdapat pada <strong>Outlook Calendar</strong>.
  Jadi, status pada Slack akan berubah jika ada event yang sudah terdaftarkan pada Outlook Calendar dari pengguna. Untuk bisa menggunakan program ini, maka dibutuhkan
  akses kepada masing-masing aplikasinya dengan melakukan login terlebih dahulu. Untuk langkah pertama, lakukan login kepada Outlook melalui Windows Live dengan cara menekan hyperlink di bawah ini. </p>
  </br>

  <a class="btn btn-primary btn-large" href="{{signInUrl}}" style="border: 1px solid grey; padding: 15px;">Klik disini untuk melakukan login dan memberikan akses ke Windows Live.</a>
</div>
