<div style="text-align:center;">
  <h1 style="text-align:center;">Sukses memberikan akses Slack kepada program.</h1>
  <p style="text-align:center;">Akses ke Slack sudah berhasil diberikan untuk program ini. Dengan akses yang didapat, maka program ini akan mengubah status saat ada event yang
    terdaftar di Outlook Calendar.</p>
</div>
